{% extends 'layout.html' %}

{% block body %}
<div id="list-nav" style="position:sticky;top:50px;background-color:#fff;z-index:1000">
    <ul>
<!--        <li><p><a href="/students">← Назад</a></p></li>-->
        <li><p><a href="#" onclick="window.history.back()">← Назад</a></p></li>
    </ul>
</div>
<h1>Изменить запись</h1>
<form method="post" class="one-record-form">
    <fieldset>
        <legend>Основная информация</legend>
        <label for="fio">Имя студента:</label>
        <input id="fio" type="text" name="fio" value="{{data['fio']}}"><br/>

        <label for="birthdate">Дата рождения:</label>
        <input id="birthdate" type="date" name="birthdate" value="{{data['birthdate']}}"><br/>

        {% if current_user.role_id == 1 %}
        <label for="groupId">Группа:</label>
        <select name="groupId" id="groupId" required>
            <option value="">--Выберите группу--</option>
            {% for name, list in GROUPS_FILTERING.items() %}
                <optgroup label="{{name}}">
                    {% for group in list %}
                        {% if group[0] == data['groupId'] %}
                        <option value="{{group[0]}}" selected>{{group[1]}}</option>
                        {% else %}
                        <option value="{{group[0]}}">{{group[1]}}</option>
                        {% endif %}
                    {% endfor%}
                </optgroup>
            {% endfor %}
        </select><br/>
        {% endif %}
    </fieldset>

    {% for legend, fieldset in STUDENT_STRUCTURE["fields"].items() %}
    <fieldset>
        <legend>{{legend}}</legend>
        {% for field, options in fieldset.items() %}
        <label for="{{field}}">{{options["label"]}}</label>

        {% if options.get("allowed values") %}
        {% if options.get("type") == "check" %}
        <select name="{{field}}" id="{{field}}">
        {% if data[field] == 1 %}
        <option value="0">Нет</option>
        <option value="1" selected>Да</option>
        {% else %}
        <option value="0" selected>Нет</option>
        <option value="1">Да</option>
        {% endif %}
        </select>
        {% else %}
        <select name="{{field}}" id="{{field}}">
            {% if "NULLABLE" in options["modifiers"] %}
            <option value="">{{options["nullValueLabel"]}}</option>
            {% endif %}
            {% for allowed_value in options["allowed values"] %}

            {% if data[field] == allowed_value %}
            <option value="{{allowed_value}}" selected>{{allowed_value}}</option>
            {% else %}
            <option value="{{allowed_value}}">{{allowed_value}}</option>
            {% endif %}
            {% endfor %}
        </select>
        {% endif %}
        {% else %}
        {% if options.get("type") == "int" %}
        <input type="number" name="{{field}}" id="{{field}}" value="{{data[field]}}">
        {% else %}
        <input type="text" name="{{field}}" id="{{field}}" value="{{data[field]}}">
        {% endif %}
        {% endif %}
        <br/>

        {% endfor %}
    </fieldset>
    {% endfor %}

    <input type="submit" value="Сохранить"><br/>
</form>
{% if current_user.role_id == 1 %}
    {% if data["deleted"] == 0 %}
    <form method="get" action="./{{data['id']}}/delete">
        <input type="submit" value="Удалить">
    </form>
    {% elif data["deleted"] == 1 %}
    <form method="get" action="./{{data['id']}}/restore">
        <input type="submit" value="Восстановить">
    </form>
    {% endif %}
{% endif %}

{% endblock %}