<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Социальная информация студентов ВБМК</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="page-container">
    {% if current_user.is_authenticated %}
        <button onclick="fBackToTop()" id="btnTop" title="В начало">↑</button>
        <div id="content-wrap">
            <div id="nav" style="position:sticky;top:0;background-color:#fff;z-index:1000">
                <ul>
            <!--        <li><p><a href="/">Главная</a></p></li>-->
                    {% if current_user.role_id == 1 %}
                    <li><p><a href="/students">Управление студентами</a></p></li>
                    <li><p><a href="/users">Управление пользователями</a></p></li>
                    <li><p><a href="/groups">Управление группами</a></p></li>
            <!--        <li><p><a href="/import/excel">Импорт из Excel</a></p></li>-->
                    {% else %}
                    <li><p><a href="/students">Cтуденты</a></p></li>
                    {% endif %}
                </ul>
                <ul>
                    <li id="user_name_tag"><p>{{current_user.name}}</p></li>
                    <li><p><a href="/logout">Выйти</a></p></li>
                </ul>
            </div>
            {% endif %}
            {% block body %}

            <p>Here goes the page content</p>

            {% endblock %}
        </div>
        <footer>
            <p>Разработчик: Шабельская Татьяна</p>
        </footer>
    </div>
</body>
<script>
    let btnTop = document.getElementById("btnTop");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 58 || document.documentElement.scrollTop > 58) {
            btnTop.style.display = "block";
        } else {
            btnTop.style.display = "none";
        }
    }

    function fBackToTop(){
        window.scrollTo({top: 0, behavior: 'smooth'})
    }
</script>
</html>