{% extends 'layout.html' %}

{% block body %}
<div id="list-nav" style="position:sticky;top:50px;background-color:#fff;z-index:1000">
    <ul>
<!--        <li><p><a href="/students">← Назад</a></p></li>-->
        <li><p><a href="#" onclick="window.history.back()">← Назад</a></p></li>
    </ul>
</div>
<h1>Создать пользователя</h1>
<form method="post" class="one-record-form">
    <label for="name">Имя пользователя:</label>
    <input id="name" type="text" name="name"><br/>
    <label for="login">Логин:</label>
    <input id="login" type="text" name="login"><br/>
    <label for="password">Пароль:</label>
    <input id="password" type="password" name="password"><br/>
    <label for="role">Роль:</label>
    <select id="role" name="role">
        <option value="2" selected>Преподаватель</option>
        <option value="1">Администратор</option>
        <option value="3">Социальный педагог</option>
    </select><br/>
    <input type="submit" value="Создать"><br/>
</form>

{% endblock %}